.jumbotron {
    max-width: 960px;
    margin: 0 auto;
    border: 2px dotted #4f4f4f;
    border-bottom: none;
}

.display-4 {
    font-size: 40px;
    font-size: 4.5vw;
    font-weight: bolder;
}

h2 {
    margin-bottom: 20px;
}

#passBox {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 25px;
    background-color: #fff;
    border: 2px dotted #4f4f4f;
    border-top: none;
}
body {
    background-image: url("images/hotel-wallpaper.png");
}

#generate {
    background-color: #3f9b37;
    box-shadow: none;
    border: none;
    padding: 5px;
    color: #fff;
    margin-bottom: 10px;
}

#copy {
    box-shadow: none;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
}

.content {
    margin: 10% 5% 10% 5%;
}

::selection {
    background-color: rgb(47, 149, 153);
}
::-moz-selection {
    background: rgb(47, 149, 153);
  }